.loading {
    width: 200px;
    text-align: center;
}

.loader {
    width: 75px;
    height: 75px;
    display: inline-block;
    padding: 0px;
    border-radius: 100%;
    border: 5px solid;
    border-top-color: #2e6df6;
    border-right-color: #2e6df6;
    border-bottom-color: #2e6df6;
    border-left-color: #ffffff;
    -webkit-animation: loader 1s ease-in-out infinite;
    animation: loader 1s ease-in-out infinite;
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.tips {
    margin-top: 20px;
    color: #999999;
}